.mainContainer {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url('src/assets/bg-onboarding.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(
            rgba(29, 29, 29, 0.9), 
            rgba(29, 29, 29, 0.95),
            rgba(29, 29, 29, 0.99),
            rgba(29, 29, 29, 1)
            );
        background-position: top;
        z-index: -1;
    }

    img {
        width: 250px;
    }
}